<h1 id="question"> Category: <br> <%= @deck.category %></h1>
<h1 id="something">Question: <%= @card.question %> </h1>



<form action="/answer/<%= @deck.category %>/<%= @round.id %>/<%= @card.id + 1 %>" method="POST">
Your Answer:<input type="text" name="answer">
<input type="submit" value="submit" id="submit">
</form>




<form action="/end/<%=@deck.category%>/<%=@round.id%>/<%=@card.id%>" method="GET">
<input type="submit" value="ENDGAME" id="submit">
</form>
