<h1><%= @user.username.capitalize %>, these are your results:</h1>
  
  <h2 id="results">You answered <%= @round.score %> correct<br> out of <%= @deck.cards.length %> questions <br> Percentage <%= ((@round.score / @deck.cards.length.to_f*100).round(0)) %>%</h2> 

  
<h2 id="results">Previous Rounds</h2>
  <table id="results">
    <% @user_1.each do |round| %>
    <tr>
      <h2 id="results"> <td id="results"><%= round.created_at %></td><td id="results">Previous Round Score:<%= round.score %></td></h2>
    </tr>
    <% end %>
  </table>


 



<button id="submit" onclick="window.location.href='/<%= @user.username %>'">Profile Page</button>


